body{
    background-image: url("../images/firefly.jpg");
    background-color: black;
    background-size: 100%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}
.card{
    width:50%;
    height: calc(50vw *1);
    border: 3px black solid;
    background-image: url("../images/paper-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
   
}
.gameText{
    font-family: 'Roboto Condensed', sans-serif;
}
.titleText{
    font-size: 3vw;
    text-align: center;
    padding: 3vw;
}
.secondaryText{
    font-size: 1.5vw;
    text-align: center;
    padding: .5vw;
}
.gameButton{
    width:25%;
    height:15%;
    border: 2px solid black;
    position:relative;
    top:50%; 
    left:37.5%;
    margin: 5% 0 5% 0;
    font-size: 2vw;
    
}
.gameButton:hover{
    background-color: bisque;
}
.questionText{
    font-size:1.5vw;

}
p{
    width:75%;
    margin-left:12.5%;
    background-color:beige;
}
p:hover{
    background-color: bisque;
}
.highlighted{
    background-color:brown;
    
}
